In [ ]:
import timeit
import random as rd
setup_code='''import random as rd
sum=0'''

print(timeit.timeit(setup= setup_code,stmt='[sum+i for i in range(rd.randint(100000,10000000))]',number=1))

0.5187071250002191

In [ ]:
from array import array
import random as rd

arr1=array('i',(rd.randint(1,100) for i in range(1,100)))
print(arr1)

arr1=arr1 + array('i',(rd.randint(100,1000) for i in range(1,100)))
print(arr1)


lis1=[rd.randint(1,100) for i in range(1,100)]
print(lis1)

lis1=lis1 + [rd.randint(100,1000) for i in range(1,100)]
print(lis1)

array('i', [32, 54, 61, 54, 73, 80, 11, 37, 49, 65, 61, 51, 23, 49, 77, 32, 52, 43, 75, 10, 20, 15, 15, 77, 28, 52, 16, 15, 22, 67, 33, 46, 44, 15, 13, 82, 63, 86, 100, 90, 51, 56, 32, 96, 97, 92, 8, 33, 98, 71, 78, 46, 24, 60, 1, 83, 15, 74, 12, 54, 17, 56, 13, 24, 56, 13, 6, 12, 8, 42, 42, 68, 73, 44, 9, 29, 98, 41, 16, 8, 22, 14, 45, 76, 72, 56, 25, 55, 36, 18, 93, 20, 40, 80, 63, 54, 51, 82, 29])
array('i', [32, 54, 61, 54, 73, 80, 11, 37, 49, 65, 61, 51, 23, 49, 77, 32, 52, 43, 75, 10, 20, 15, 15, 77, 28, 52, 16, 15, 22, 67, 33, 46, 44, 15, 13, 82, 63, 86, 100, 90, 51, 56, 32, 96, 97, 92, 8, 33, 98, 71, 78, 46, 24, 60, 1, 83, 15, 74, 12, 54, 17, 56, 13, 24, 56, 13, 6, 12, 8, 42, 42, 68, 73, 44, 9, 29, 98, 41, 16, 8, 22, 14, 45, 76, 72, 56, 25, 55, 36, 18, 93, 20, 40, 80, 63, 54, 51, 82, 29, 795, 320, 514, 804, 869, 714, 500, 874, 949, 368, 419, 159, 597, 934, 719, 506, 488, 223, 634, 670, 480, 548, 673, 473, 210, 439, 970, 934, 605, 922, 925, 357, 300, 849, 848, 355, 527, 610, 483, 239, 370, 461, 141, 600, 920, 726, 514, 939, 939, 692, 577, 481, 725, 440, 117, 936, 606, 633, 521, 671, 604, 388, 168, 119, 987, 630, 237, 691, 685, 993, 563, 233, 808, 224, 525, 963, 659, 149, 654, 844, 614, 929, 176, 344, 368, 712, 507, 902, 982, 282, 333, 686, 770, 758, 154, 997, 742, 833, 785])
[67, 28, 44, 32, 79, 39, 90, 45, 61, 74, 25, 70, 96, 33, 82, 20, 86, 87, 30, 16, 18, 12, 9, 95, 9, 59, 13, 73, 35, 54, 49, 47, 80, 76, 62, 10, 85, 40, 13, 77, 64, 81, 62, 60, 8, 12, 16, 44, 99, 17, 43, 61, 65, 8, 32, 49, 48, 28, 28, 7, 71, 39, 38, 8, 5, 2, 41, 46, 42, 78, 19, 50, 62, 88, 45, 54, 22, 43, 79, 5, 5, 27, 53, 29, 84, 78, 3, 41, 84, 43, 39, 91, 53, 56, 86, 1, 5, 18, 26]
[67, 28, 44, 32, 79, 39, 90, 45, 61, 74, 25, 70, 96, 33, 82, 20, 86, 87, 30, 16, 18, 12, 9, 95, 9, 59, 13, 73, 35, 54, 49, 47, 80, 76, 62, 10, 85, 40, 13, 77, 64, 81, 62, 60, 8, 12, 16, 44, 99, 17, 43, 61, 65, 8, 32, 49, 48, 28, 28, 7, 71, 39, 38, 8, 5, 2, 41, 46, 42, 78, 19, 50, 62, 88, 45, 54, 22, 43, 79, 5, 5, 27, 53, 29, 84, 78, 3, 41, 84, 43, 39, 91, 53, 56, 86, 1, 5, 18, 26, 134, 473, 866, 635, 666, 571, 533, 126, 521, 831, 981, 246, 977, 863, 821, 197, 308, 655, 951, 939, 415, 399, 258, 884, 689, 877, 149, 590, 718, 668, 382, 626, 234, 812, 776, 310, 100, 161, 852, 252, 944, 925, 385, 599, 264, 209, 192, 502, 591, 192, 714, 381, 213, 399, 396, 896, 553, 179, 348, 890, 579, 983, 232, 120, 382, 614, 210, 776, 522, 534, 998, 653, 239, 879, 324, 510, 907, 642, 746, 497, 159, 303, 155, 134, 416, 399, 345, 502, 985, 900, 644, 594, 785, 397, 745, 742, 454, 853, 892]

In [ ]:
import timeit

setup_code='''from array import array
import random as rd'''

stmt_code='''arr1=array('i',(rd.randint(1,10000) for i in range(1,100)))

arr1=arr1 + array('i',(rd.randint(10000,100000000) for i in range(1,100)))'''

x=timeit.timeit(setup=setup_code,stmt=stmt_code,number=1)
print(x)

0.00015111500033526681

In [ ]:
import timeit

setup_code='''from array import array
import random as rd'''

stmt_code='''lis1=[rd.randint(1,10000) for i in range(1,100)]

lis1=lis1 + [rd.randint(10000,100000000) for i in range(1,100)]'''

x=timeit.timeit(setup=setup_code,stmt=stmt_code,number=1)
print(x)

0.0001355639997200342

In [ ]:
#all the methods that can be applied on arrays
#addition
#in place addition
#multiplication with scalar value
#in place multiplication with scalar value
#append
#extend
#pop(<position>)
#remove(<value>)
#reverse
#clear
#fromfile()
#fromlist()
#tofile()
#count
#index
#insert
#copy.copy(<array)
#copy.deepcopy(<array>)

TypeError: can't multiply sequence by non-int of type 'list'